*{
  font-family: Courier New;
}

/* input box */
.Select-control {
    background-color: white;
}


/* changes the text color of input box */
.Select-value-label {
    color: black !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid grey;
    border-radius: 4px;
}


/* dropdown menu options */
.VirtualizedSelectOption {
    background-color: white;
    color: black;
 }

#id_of_dropdown {
width: 35%;
}

body {
    margin: 0;
}
